includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - "app/"
    excludes_analyse:
        - app/Http/Middleware/Authenticate.php
    
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

